body
{
	padding:0;
	margin:0;
	background-image: url("https://sc01.alicdn.com/kf/UT8AhfZXEpaXXagOFbXV/Customize-New-Year-Diary-for-2016-Office.jpg");
	background-repeat: no-repeat;
	background-size: 2000px 1000px;
}

.inputFields
{
	width:215px;
	height:27px;
	padding-left:5px;
	border:1px solid #999;
	outline:none;
	border-radius:2px;
	transition:0.3s linear;
}

.inputFields:focus
{
	border:1px solid #000;
	box-shadow:0px 0px 10px #333;
}

.theButtons
{
	width:222px;
	height:40px;
	background-color:#335495;
	border:2px solid blue;
	font-weight:bold;
	font-family:tahoma;
	color:#FFF;
	border-radius:2px;
	margin-top:20px;
}

#menu
{
	width:990px;
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #CCC;
}

#menu a
{
	text-decoration:none;
	display:inline-block;
	color:#666;
	padding:14px;
	background-color:#eee;
}

#menu a:hover
{
	color:#000;
	background-color:#eee;
}


#error
{
	width:990px;
	margin:0px auto;
	height:30px;
	background-color:red;
	margin-top:40px;
	padding-left:10px;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	display:none;
}

#wrapper
{
	width:1000px;
	margin:0px auto;
	min-height:400px;
	padding-bottom:20px;
}

#formDiv
{
	width:300px;
	margin:0px auto;
	margin-top:20px;
	font-family:tahoma;
	font-size:14px;
}

#text{
	width:75%;
	height:75%;
	margin-top:20px;
	margin-left:10px;
}